<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.udacity.gradle.builditbigger">

    <application>
        <activity android:name=".MainActivityFragment"></activity>

        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />
    </application>

    <!--Include the AdActivity configChanges and theme. -->

</manifest>
